.arrow_container_right {
  width: 150px;
  height: 100vh;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  align-items: center;
  z-index: 0;
  background: linear-gradient(270deg, var(--arrow-container) 0%, rgba(255, 255, 255, 0) 100%);
  cursor: pointer;
}

.arrow_container_left {
  width: 150px;
  height: 100vh;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  z-index: 0;
  background: linear-gradient(90deg, var(--arrow-container) 0%, rgba(255, 255, 255, 0) 100%);
  cursor: pointer;
}

.arrow_container_right:hover {
  background: linear-gradient(270deg, var(--arrow-container-hover) 0%, rgba(255, 255, 255, 0) 100%);
}
.arrow_container_left:hover {
  background: linear-gradient(90deg, var(--arrow-container-hover) 0%, rgba(255, 255, 255, 0) 100%);
}

.arrow_right {
  position: absolute;
  right: 0;
  width: clamp(100px, 5vw + 10px, 300px);
  z-index: 99;
}

.arrow_left {
  transform: rotate(0.5turn);
  position: absolute;
  left: 0;
  width: clamp(100px, 5vw + 10px, 300px);
  z-index: 99;
}

@media (max-width: 1200px) {
  .arrow_container_right {
    display: none;
  }
  .arrow_container_left {
    display: none;
  }
}
