.profile_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  color: var(--text-primary);
  position: relative;
  z-index: -1;
}

.profile_img_container {
  display: flex;
  align-items: flex-end;
  gap: 0.8rem;
}

.icon_container > img {
  width: clamp(35px, 2vw + 1px, 50px);
}

.profile_img {
  max-width: clamp(80px, 1vw + 1px, 120px);
  border-radius: 50%;
}

.profile_heading {
  font-size: clamp(30pt, 2vw + 1px, 40pt);
  font-weight: bold;
}

.profile_heading2 {
  font-size: clamp(24pt, 2vw + 1px, 30pt);
  font-weight: bold;
}

.profile_text {
  font-size: clamp(11pt, 2vw + 1px, 13pt);
}

.experience_heading {
  font-size: clamp(15pt, 1vw + 1px, 20pt);
  font-weight: bold;
}

.icon_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.list {
  list-style-type: square;
}

.experience_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social_icons_container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.social_icon {
  width: clamp(38px, 2vw + 1px, 50px);
  cursor: pointer;
  align-self: flex-end;
}

.social_icon path {
  fill: var(--social-icon);
}

.social_icon:hover path {
  fill: var(--social-icon-hover);
}
