.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  background-color: transparent;
  z-index: 1;
}

li {
  margin: auto 0;
  cursor: pointer;
}

nav {
  display: flex;
  list-style-type: none;
  color: var(--text-primary);
  gap: 3rem;
  font-size: clamp(12pt, 2vw + 2px, 18pt);
}
.nav-container {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: clamp(170px, 10vw + 10px, 500px);
}

svg path {
  fill: var(--text-primary);
}

.menu-icon {
  min-width: 50px;
  min-height: 50px;
}

#theme-toggle {
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .nav-container,
  #theme-toggle {
    display: none;
  }
  .flex-item {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
}
