:root {
  /* Light Mode */
  --primary-color: blue;
  --secondary-color: green;
  --surface: white;
  --second-surface: grey;
  --text-primary: rgb(8, 19, 28);
  --text-light: #e1e1e1;
  --text-secondary: grey;
  --text-primary-inverted: black;
  --text-secondary-inverted: grey;
  background-color: #242424;
  min-width: 600px;
}

[data-theme="dark"] {
  /* Dark Mode */
  --primary-color: red;
  --text-primary: wheat;
}

button {
  background-color: rgba(1, 1, 1, 0);
  border: 0;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
}

.main-text {
  color: var(--text-primary);
  letter-spacing: 0.5vw;
  font-size: clamp(30pt, 1.5vw, 100pt);
  text-align: center;
}

body {
  background-color: transparent;
}

input {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
