:root {
  /* Light Mode */
  --primary-color: blue;
  --secondary-color: green;
  --surface: white;
  --second-surface: grey;
  --text-primary: #060f16;
  --text-light: #283848;
  --text-secondary: rgb(0, 0, 0);
  --text-primary-inverted: black;
  --text-secondary-inverted: grey;
  --arrow-container: #071d4d58;
  --arrow-container-hover: #115f2f4f;
  background-color: #242424;
  min-width: 600px;
  --social-icon: #283848;
  --social-icon-hover: rgb(110, 38, 0);

  --border: #1a1d2d76;
  --menu-change: 960px;
  --shadow-right: 5px 7px 0px 0px rgba(0, 0, 0, 0.073);
  --shadow-left: -5px 7px 0px 0px rgba(0, 0, 0, 0.073);
  --card-bg: #97d2fc93;
}

[data-theme="dark"] {
  /* Dark Mode */
  --primary-color: red;
  --text-primary: wheat;
  --text-secondary: wheat;
  --border: rgba(245, 222, 179, 0.144);
  --arrow-container: #27708d43;
  --shadow-right: 5px 7px 0px 0px rgba(255, 255, 255, 0.023);
  --shadow-left: -5px 7px 0px 0px rgba(255, 255, 255, 0.023);
  --text-light: #7f7f7f;
  --card-bg: #3a516093;
  --social-icon: #7f7f7f;
  --social-icon-hover: rgb(40, 34, 206);
}

button {
  background-color: rgba(1, 1, 1, 0);
  border: 0;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  z-index: 1;
}

#page-container {
  z-index: 1;
  margin-top: 2rem;
}

.main-text {
  color: var(--text-primary);
  letter-spacing: 0.5vw;
  font-size: clamp(30pt, 1.5vw, 100pt);
  text-align: center;
}

body {
  background-color: transparent;
  width: 100vw;
}

input {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

p {
  font-size: 13pt;
  color: var(--text-secondary);
}

#projects_page_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.flex-grow {
  flex-basis: 250px;
}

.flex-shrink {
  flex-basis: 350px;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 20pt;
  font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  cursor: default;
}

a:hover {
  color: var(--social-icon-hover);
  cursor: pointer;
}
