.flex {
  display: flex;
}

.game-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
}

.game-header {
  display: flex;

  justify-content: space-evenly;
  padding: 1rem;
  gap: clamp(1rem, 2vw + 1px, 7rem);
  max-width: 100%;
}

.game-logo {
  width: 40px;
  height: 40px;
  margin: auto;
}

.game-logo-container {
  padding: 0.5rem;
}

.grid-container {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
}

.tile-marker {
  position: relative;
  width: clamp(40px, 80%, 100px);
  margin: auto;
}

/* Rectangle */
.tile {
  width: 100%;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 15px;
  display: flex;
  align-items: center;
  aspect-ratio: 1;
  cursor: pointer;
}

.scorecard-holder {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  gap: 2rem;
  max-width: 100%;
  color: antiquewhite;
}

.scorecard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 72px;
  background: #0d3b39;
  border-radius: 15px;
  gap: 1rem;
  font-size: 20pt;
  font-weight: bold;
}

.scorecard p {
  color: antiquewhite;
}

.scorecard > p > img {
  max-width: 32px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1f3641;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.modal > button,
.menu > button {
  background-color: white;
  opacity: 1;
  padding: 1rem;
  width: clamp(100px, 100%, 300px);
  border-radius: 8px;
  cursor: pointer;
}
.menu > button {
  background-color: #357597;
}

.p1-score {
  background: #31c3bd;
}

.flex-3 {
  width: 33%;
}

.team-selector-holder {
  background-color: #1f3641;
  border-radius: 5px;
  width: 460px;
  height: 205px;
  max-width: 100%;
}

.team-selector {
  display: flex;
  padding: 10px;
  position: relative;
  justify-content: space-evenly;
  background-color: #1a2a33;
  border: none;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  width: 90%;
  height: 30%;
  cursor: pointer;
}

.team-selector > div {
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.team-selector > div > img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.large-text {
  font-size: 35px;
  color: #fff;
}

.turn-indicator-holder {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-primary);
}

.turn-indicator-img {
  filter: brightness(0) saturate(100%) invert(75%) sepia(7%) saturate(705%) hue-rotate(153deg) brightness(102%) contrast(85%);
  width: 55px;
  height: 55px;
  margin: auto 0;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 1rem;
}

.unselected-color {
  filter: brightness(0) saturate(100%) invert(75%) sepia(7%) saturate(705%) hue-rotate(153deg) brightness(102%) contrast(85%);
}

.selected-color {
  filter: brightness(0) saturate(100%) invert(21%) sepia(5%) saturate(8090%) hue-rotate(150deg) brightness(40%) contrast(81%);
}

.selected-logo {
  background-color: #a8bfc9;
}

.score-digits {
  font-size: 2rem;
}

.reset-container {
  display: flex;
  justify-content: flex-end;
}
